@import '~@angular/material/theming';

@mixin menu-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
}

@mixin menu-typography($config) {
    .profile-menu {
    }
}
